/* Override nextra styles restricting width */

:root {
  --nextra-content-width: unset !important;
}

header.nextra-navbar {
  --nextra-content-width: 90rem;
}

article {
  padding-inline: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

article div.x\:mt-16:last-child:empty {
  margin-top: 0;
}

#hero {
  animation-name: hero;
  animation-duration: 1500ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hero {
  from {
    translate: 0 8rem;
  }
  to {
    translate: 0 0;
  }
}
